.popup__container {
  background-color: #FFFFFF;
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  padding: 34px 36px 37px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width:767px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}