.header {
  margin: 0 auto;
  max-width: 880px;
  padding: 45px 0 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width:767px) {
  .header {
    padding: 28px 27px 0;
}
}