.profile__add-button {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 2px; 
  justify-self: flex-end;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width:767px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: 0;
}
}