.popup__button_save {
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  margin-top: 48px;
  padding: 0;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  }

  .popup__button_save:hover {
    opacity: 0.8;
  }

  @media screen and (max-width:767px) {
    .popup__button_save {
      width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 45px;
    }
  }